body { 
    background: url('../images/bg0004.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

tr:nth-child(odd) {
  background-color: #D7D7D7;
}
tr:nth-child(even) {
  background-color: #FFA6D2;
}
